<div class="welcome">
  <h1>Piwam</h1>

  <p>
    Welcome to Piwam, your simple and efficient association manager.<br>
    Start configuring your site from the administration console.
  </p>

  <p>
    <%= link_to "Let's get started!", admin_root_path, class: 'button' %>
  </p>
</div> 